<h2>Update your profile player</h2>

{{!-- ./views/books/edit.hbs --}}
<h1>Editar player</h1>

Este es el id: {{player._id}}

<form action="/players/{{player._id}}/edit" method="POST">
	
    <label>Description</label>
	<textarea type="text" name="descripcion">
		{{player.descripcion}}
	</textarea>

	<br />
    <label>Rate</label>
	<textarea type="number" name="tarifa">
		{{player.tarifa}}
	</textarea>

	<br />

	<label>City</label>
	<textarea type="text" name="ciudad">
		{{player.ciudad}}
	</textarea>

	<br />
	<label>Championships</label>
	<textarea type="text" name="campeonatos">
		{{player.campeonatos}}
	</textarea>

	<br />

	<label>Photo</label>
	<input type="text" name="photoUrl" value="{{player.photoUrl}}" />

	<br />

	

	<button>
		Guardar nuevos cambios
	</button>


</form>